spring:
  application:
    name: roc-message-center
server:
  port: 9090
roc:
  db:
    mybatis:
      enabled: true
      configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
      global-config:
        db-config:
          table-prefix: t_roc_
      type-enums-package: "icu.d4peng.cloud.message.enums"
    druid:
      enabled: true
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: "jdbc:mysql://xxx.xxx.xxx.xxx:32001/roc_cloud?useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC"
      username: root
      password: Roc@2022
      initial-size: 10
      max-active: 200
      max-wait: 60000
      min-evictable-idle-time-millis: 300000
      time-between-eviction-runs-millis: 60000
      validation-query: "SELECT 1"
      validation-query-timeout: 1000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      connection-error-retry-attempts: 3
      break-after-acquire-failure: true
      time-between-connect-error-millis: 300000
      async-init: true
      remove-abandoned: false
      remove-abandoned-timeout: 1800
      transaction-query-timeout: 6000
      stat:
        stat-view-servlet:
          enabled: true
          url-pattern: "/druid/*"
          allow: ""
          deny: 192.168.0.3
          login-username: roc
          login-password: roc
          reset-enable: false
        web-stat-filter:
          enabled: true
          url-pattern: "*"
          exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
  email:
    enabled: true
    host: "smtp.qq.com"
    port: 465
    username: "d4peng@qq.com"
    password: "xxx"
    protocol: "smtps"
    default-encoding: UTF-8
    template-prefix: "/roc/templates/"
    template-suffix: ".html"
  sms:
    enabled: true
    access-key-id: "xxx"
    access-key-secret: "xx"
    sign-name: "xxx"
    template-code: "xxx"